header {
    color: #fff;
    background: url("img/album-covers.jpg") 0 -20px repeat;
}

    header h1 {
        margin: 30px 0;
    }


.btn-show-modal {
    margin: 20px 0;
    font-weight: bold;
}

.album img {
    margin-right: 20px;
}

.badge {
    font-weight: bold;
    background-color: #17a2b8;
    margin: 0 4px 4px 0;
}

h3 {
    font-weight: bold;
}

.artist-name {
    color: rgb(117, 117, 117);
    font-size: 22px;
}

.play{
    font-weight: bold;
}
.play i {
    position: relative;
    top: 5px;
}
.delete {
  margin: 10px;
}
